<!DOCTYPE html>
<!--[if IE 7 ]><body class="ie ie7"><![endif]-->
<!--[if IE 8 ]><body class="ie ie8"><![endif]-->
<!--[if IE 9 ]><body class="ie ie9"><![endif]-->
<html class='no-js' lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <title>Standard Chartered</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=vietnamese" rel="stylesheet">
    <link type="image/x-icon" href="{{ url_for('static', filename='images/fav.png')}}" rel="shortcut icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
    <style>
        .field_error {
            margin-left: 5px;
            color: #dd4b39;
        }
    </style>
</head>

<body>
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    <div class="main-holder wrap">
        <header class='main-wrapper header'>
            <div class="container apex">
                <div class="row">
                    <nav class="navbar header-navbar" role="navigation">
                        <div class="navbar-header">
                            <div class="logo navbar-brand">
                                <a href="#" title="Standard Chartered"></a>
                            </div>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <div class="navbar-right">
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div class='main-wrapper '>
            <section class="relative software_slider">
                <div class="forma-slider section sTop">
                    <div class="container">
                        <div class="row">
                            <div class="container relative fin_3" id='elem-portable'>
                                <div class="reg-now">

                                    {% for field in form if field.widget.input_type != 'hidden' %}
                                        {% if field.errors %}
                                        <div class='alert alert-danger'><a class='close' data-dismiss='alert'>×</a>
                                            {%for error in field.errors%}
                                                {{error}}</br>
                                            {%endfor%}
                                        </div>
                                        {%endif%}
                                    {%endfor%}

                                    <form class='reg-now-visible' id='formIndex' action="/" method="post" accept-charset="utf-8" role="form">
                                        {{ form.hidden_tag() }}
                                        <p class="title-form">Bạn có Thẻ tín dụng SCB chưa?</p>
                                        <div class="radio-custom radio-danger fl mr-10">
                                              {%if form.luong.data == 'yes'%}
                                            <input type="radio" id="yes" name="luong" value="yes" required oninvalid="setCustomValidity('Xin vui lòng chọn một ô')" onclick="clearValidity()" checked/>
                                            {%else%}
                                            <input type="radio" id="yes" name="luong" value="yes" required oninvalid="setCustomValidity('Xin vui lòng chọn một ô')" onclick="clearValidity()"/>
                                            {%endif%}
                                            <label for="yes">Có</label>
                                        </div>
                                        <div class="radio-custom radio-danger fl">
                                             {%if form.luong.data == 'no'%}
                                            <input type="radio" id="no" name="luong" value="no" required onclick="clearValidity()" checked/>
                                            {%else%}
                                            <input type="radio" id="no" name="luong" value="no" required onclick="clearValidity()"/>
                                            {%endif%}
                                            <label for="no">Không</label>
                                        </div>
                                        <div class="clr"></div>

                                        <div class="relative">
                                            {{slbox_region|safe}}
                                        </div>
                                        <div class="relative">
                                            <input type="text" placeholder='Ngày sinh' name="birthday" value={%if form.data.birthday%} "{{form.data.birthday|safe}}" {%else%} "" {%endif%} class='insert-attr' placeholder='Ngày sinh' required oninvalid="setCustomValidity('Ngày sinh không chính xác!')" oninput="setCustomValidity('')" />
                                        </div>

                                        <div class="relative">
                                            {{slbox_caoch|safe}}
                                        </div>

                                        <div class='control-group'>
                                           <input type="text" name="salary" {%if form.data.salary%} value="{{form.data.salary|safe}}" {%endif%} placeholder='Tổng thu nhập hàng tháng cố định' required oninvalid="setCustomValidity('Tổng thu nhập hàng tháng cố định không chính xác!')" oninput="setCustomValidity('')"/>
                                        </div>

                                        <div class='control-group'>
                                            <input type="text" name="name" {%if form.data.name%} value="{{form.data.name|safe}}" {%endif%} placeholder='Họ và tên' required oninvalid="setCustomValidity('Tên không chính xác!')" oninput="setCustomValidity('')"/>
                                        </div>

                                        <div class='control-group'>
                                             <input type="text" id="phone" name="phone" value={%if form.data.phone%} "{{form.data.phone|safe}}" {%else%} "" {%endif%} placeholder='Số điện thoại' required pattern="^[0-9]{10,12}$" oninvalid="setCustomValidity('Số điện thoại không chính xác')" oninput="setCustomValidity('')"/>
                                        </div>
                                        <div class='control-group'>
                                            {% if form.email.errors %}
                                                <span class="field_error" id="email_error"></span>
                                            {%endif%}

                                            <input type="text" name="email" value={%if form.data.email%} "{{form.data.email|safe}}" {%else%} "" {%endif%} class='insert-attr' placeholder='Địa chỉ email' required oninvalid="setCustomValidity('Email không chính xác!')" oninput="setCustomValidity('')"/>
                                        </div>

                                        <div class="checkbox-custom checkbox-danger" style="margin-top: 10px;">
                                            {%if form.toidongy.data%}
                                            <input type="checkbox" id="toidongy" name="toidongy" required oninvalid="setCustomValidity('Bạn phải đồng ý với điều khoản này')" onchange="setCustomValidity('')" checked/>
                                            {%else%}
                                            <input type="checkbox" id="toidongy" name="toidongy" required oninvalid="setCustomValidity('Bạn phải đồng ý với điều khoản này')" onchange="setCustomValidity('')"/>
                                            {%endif%}
                                            <label for="toidongy" class="label-form-dk" style="color: #fff;">
                                                Quý khách đồng ý để ngân hàng Standard Charter liên lạc với Quý khách
                                            </label>
                                        </div>

                                        <button type="submit" value="Register Now" class='btn submit sub-form' name="submit">Đăng ký ngay</button>
                                        <h2>Platinum CashBack</h2>
                                        <h5>Hoàn tiền đến 1% cho mọi chi tiêu và không giới hạn số tiền hoàn tối đa</h5>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="subMenu">
                <div class="container make-row " style="text-align:center">
                    <div class="f-menu">
                        <ul>
                            <li><a href="#tinhnang" class="subNavBtn">Tính năng</a>|</li>
                            <li><a href="#tienich" class="subNavBtn">Tiện ích</a>|</li>
                            <li><a href="#thongtin" class="subNavBtn">Thông tin hữu ích</a>|</li>
                            <li><a href="#dieukien" class="subNavBtn">Điều kiện phát hành</a>|</li>
                            <li><a href="#cauhoi" class="subNavBtn">Câu hỏi thường gặp</a>|</li>
                            <li><a href="#dieukien" class="subNavBtn">Điều khoản & điều kiện</a></li>
                            <div class="clr"></div>
                        </ul>
                    </div>
                </div>
            </div>

            <section class="container make-row ">
                <div class="tinhnang">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <div class="img-holder mb-25">
                                    <img alt="" src="{{ url_for('static', filename='images/icon1.png')}}">
                                </div>
                                <div class="content">
                                    <h4>Điểm thưởng du lịch</h4>
                                    <p>Tích lũy tới 3 điểm thưởng du lịch cho mỗi 25.000 VNĐ chi tiêu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <div class="img-holder mb-25">
                                    <img alt="" src="{{ url_for('static', filename='images/icon2.png')}}">
                                </div>
                                <div class="content">
                                    <h4>áp dụng tại hơn 1000 địa điểm</h4>
                                    <p>Tích lũy tới 3 điểm thưởng du lịch cho mỗi 25.000 VNĐ chi tiêu</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <div class="img-holder mb-25">
                                    <img alt="" src="{{ url_for('static', filename='images/icon3.png')}}">
                                </div>
                                <div class="content">
                                    <h4>Dịch vụ phòng chờ cao cấp</h4>
                                    <p>Miễn phí sử dụng dịch vụ phòng chờ cao cấp tại hơn 800 sân bay trên toàn thế giới</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <div class="img-holder mb-25">
                                    <img alt="" src="{{ url_for('static', filename='images/icon4.png')}}">
                                </div>
                                <div class="content">
                                    <h4>Dịch vụ sân gôn</h4>
                                    <p>Miễn phí phí ra sân tại 4 câu lạc bộ gôn:King’s Island Golf Club, Montgomerie Links Golf Club, Vietnam Golf & Country Club, Long Thanh Golf Club</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clr"></div>
                </div>
            </section>
            <section class="container make-row">
                <div class="tienich">
                    <div class="row">
                        <div class="sec-title has-bg">
                            <h3> Tiện ích</h3>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{ url_for('static', filename='images/tienich1.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="#" target="_blank">
                                            <img src="{{ url_for('static', filename='images/click.png')}}">
                                            <p>Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng. Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="#"> Thanh toán cho các chi tiêu</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{ url_for('static', filename='images/tienich2.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="#" target="_blank">
                                            <img src="{{ url_for('static', filename='images/click.png')}}">
                                            <p>Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng. Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="#"> Danh mục điểm thưởng</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{ url_for('static', filename='images/tienich3.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="#" target="_blank">
                                            <img src="{{ url_for('static', filename='images/click.png')}}">
                                            <p>Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng. Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="#"> Đặc quyền sân gôn</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{ url_for('static', filename='images/tienich4.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="#" target="_blank">
                                            <img src="{{ url_for('static', filename='images/click.png')}}">
                                            <p>Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng. Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="#"> Trải nghiệm và ưu đãi đặc quyền từ MasterCard</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{ url_for('static', filename='images/tienich5.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="#" target="_blank">
                                            <img src="{{ url_for('static', filename='images/click.png')}}">
                                            <p>Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng. Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="#"> Chương trình The Godliffe</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{ url_for('static', filename='images/tienich6.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="#" target="_blank">
                                            <img src="{{ url_for('static', filename='images/click.png')}}">
                                            <p>Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng. Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="#"> Đặc quyền sân gôn</a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section class="container make-row">
                <div class="thongtin s3">
                    <div class="row">
                        <div class="sec-title has-bg">
                            <h3> Thông tin hữu ích</h3>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/icon5.png')}}">
                                <div class="info2">Biểu Phí Thẻ Tín Dụng Standard Chartered</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/icon6.png')}}">
                                <div class="info2">Hướng Dẫn Sử Dụng Thẻ Tín Dụng Priority WorldMiles</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/icon6.png')}}">
                                <div class="info2">Hướng Sẫn Sử Dụng Ứng Dụng DragonPass</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/icon7.png')}}">
                                <div class="info2">Danh Sách Phòng Chờ Cao Cấp Tại Các Sân Bay</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/icon8.png')}}">
                                <div class="info2">Hướng Dẫn Quy Đổi Điểm Thưởng</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/icon9.png')}}">
                                <div class="info2">Hướng Dẫn Sử Dụng Ứng Dụng The Good Life</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/icon10.png')}}">
                                <div class="info2">Chương Trình Bảo Hiểm Du Lịch Toàn Diện</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/icon11.png')}}">
                                <div class="info2">Chương Trình Hỗ Trợ Y Tế và Du Lịch</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="">
                                <img src="{{ url_for('static', filename='images/icon12.png')}}">
                                <div class="info2">Hướng Dẫn Cách Thức Thanh Toán Thẻ Tín Dụng</div>

                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section style="background:#5fb84c">
                <div class="container make-row">
                    <div class="dieukien s4">
                        <div class="row">
                            <div class="bg-tn">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="sec-title">
                                        <h3 style="color:#fff;"> Điều kiện phát hành</h3>
                                    </div>
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dkt">Độ tuổi</div>
                                    </div>
                                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                        <div class="nddk">
                                            Đối với khách hàng nữ: từ 22 – 55 tuổi
                                            <br> Đối với khách hàng nam: từ 22 – 60 tuổi
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dkt">Thu nhập tối thiểu</div>
                                    </div>
                                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                        <div class="nddk">
                                            Chỉ áp dụng đối với khách hàng ưu tiên
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dkt">Chứng từ cần cung cấp</div>
                                    </div>
                                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                        <div class="nddk">
                                            <b>Đối với người Việt Nam:</b>
                                            <br> + Bản sao CMND/Hộ chiếu
                                            <br> + Bản sao Sổ Hộ Khẩu
                                            <br> <b>Đối với người nước ngoài:</b>
                                            <br> + Bản sao hộ chiếu
                                            <br> + Bản sao Visa/Thẻ tạm trú/Thẻ thường trú hoặc Giấy phép lao động
                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="sec-title">
                                        <h3 style="color:#fff;"> Điều khoản & điều kiện</h3>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dkt">Thẻ Tín Dụng Priority WorldMiles</div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dkt"> Điều khoản & Điều kiện của thẻ tín dụng Standard Chartered</div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dkt">Điều khoản & Điều kiện để quy đổi điểm thưởng</div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <p style="margin:30px 10px">1 Ngân hàng có thể yêu cầu cung cấp thêm chứng từ trong trường hợp cần thiết</p>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container make-row">
                <div class="cauhoi s5">
                    <div class="row">
                        <div class="sec-title">
                            <h3> Câu hỏi thường gặp</h3>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel-group" aria-multiselectable="true" role="tablist">
                                <div class="panel">
                                    <div class="panel-heading" role="tab" data-toggle="collapse" href="#Collapse1" aria-expanded="true">
                                        <a class="panel-title">
                                           Tôi muốn vay sửa nhà nhưng không thế chấp có được không?
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse in" id="Collapse1" role="tabpanel">
                                        <div class="panel-body">
                                            Nếu thu nhập của bạn ổn định đủ để đảm bảo chi trả khoản vay, bạn hoàn toàn có thể vay tín chấp tai VPBank mà không cần thế chấp tài sản.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" data-toggle="collapse" href="#Collapse2" aria-expanded="false">
                                        <a class="panel-title collapsed">
                                          Tôi sẽ chịu lãi suất phạt trong những trường hợp nào? Mức lãi suất phạt là bao nhiêu ?
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="Collapse2" role="tabpanel">
                                        <div class="panel-body">
                                            Nếu thu nhập của bạn ổn định đủ để đảm bảo chi trả khoản vay, bạn hoàn toàn có thể vay tín chấp tai VPBank mà không cần thế chấp tài sản.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-heading" role="tab" data-toggle="collapse" href="#Collapse3" aria-expanded="false">
                                        <a class="panel-title collapsed">
                                          Nếu thu nhập của bạn ổn định đủ để đảm bảo chi trả khoản vay, bạn hoàn toàn có thể vay tín chấp tai VPBank mà không cần thế chấp tài sản.
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="Collapse3" role="tabpanel">
                                        <div class="panel-body">
                                            Nếu thu nhập của bạn ổn định đủ để đảm bảo chi trả khoản vay, bạn hoàn toàn có thể vay tín chấp tai VPBank mà không cần thế chấp tài sản.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab">
                                        <a class="panel-title collapsed" data-toggle="collapse" href="#Collapse4" aria-expanded="false">
                                          Nếu thu nhập của bạn ổn định đủ để đảm bảo chi trả khoản vay, bạn hoàn toàn có thể vay tín chấp tai VPBank mà không cần thế chấp tài sản.
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="Collapse4" role="tabpanel">
                                        <div class="panel-body">
                                            Nếu thu nhập của bạn ổn định đủ để đảm bảo chi trả khoản vay, bạn hoàn toàn có thể vay tín chấp tai VPBank mà không cần thế chấp tài sản.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" data-toggle="collapse" href="#Collapse5" aria-expanded="false">
                                        <a class="panel-title collapsed">
                                          Nếu thu nhập của bạn ổn định đủ để đảm bảo chi trả khoản vay, bạn hoàn toàn có thể vay tín chấp tai VPBank mà không cần thế chấp tài sản.
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="Collapse5" role="tabpanel">
                                        <div class="panel-body">
                                            Nếu thu nhập của bạn ổn định đủ để đảm bảo chi trả khoản vay, bạn hoàn toàn có thể vay tín chấp tai VPBank mà không cần thế chấp tài sản.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class='main-wrapper footer'>
            <div class="container bottom">
                <div class="fl copyright">Copyright (C) 2016 Accesstrad VN & Standard chartered</div>
                <nav>
                    <ul style="margin:0px;">
                        <li>
                            <a href="#"><img src="{{ url_for('static', filename='images/logo1.png')}}"></a>
                        </li>
                        <li>
                            <a href="#"><img src="{{ url_for('static', filename='images/logo2.png')}}"></a>
                        </li>
                        <li>
                            <a href="#"><img src="{{ url_for('static', filename='images/logo3.png')}}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
        <div id="back-top-wrapper" class="visible-lg">
            <p id="back-top" class='bounceOut'>
                <a href="#top">
                    <span></span>
                </a>
            </p>
        </div>
    </div>
    <div class="mask"></div>
    <script src="{{ url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/modernizr.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.bxslider.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.customSelect.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.colorbox-min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{ url_for('static', filename='js/loader.js')}}"></script>
    <script src="//cdn.accesstrade.vn/js/tracking.js" ></script>
    <script type="text/javascript">
        AT.track();
        function clearValidity() {
            document.getElementById('yes').setCustomValidity('');
        }

        function onInvalidCustom(idstr) {
            var me = document.getElementById(idstr);
            me.setCustomValidity('Số điện thoại không chính xác');
            //me.setCustomValidity('');
        }

        function getCookie(cname) {
                var name = cname + "=";
                var ca = document.cookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') {
                        c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                        return c.substring(name.length,c.length);
                    }
                }
                return "";
        }
            //alert(getCookie("_aff_network") + "|" + getCookie("_aff_sid"))
            $("#aff_source").val(getCookie("_aff_network"));
            $("#aff_sid").val(getCookie("_aff_sid"));

    </script>
</body>

</html>