<!DOCTYPE html>
<!--[if IE 7 ]><body class="ie ie7"><![endif]-->
<!--[if IE 8 ]><body class="ie ie8"><![endif]-->
<!--[if IE 9 ]><body class="ie ie9"><![endif]-->
<html class='no-js' lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <title>Standard Chartered</title>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=vietnamese" rel="stylesheet">
    <link type="image/x-icon" href="{{url_for('static', filename='images/fav.png')}}" rel="shortcut icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">

   <style>
        .alert {
            padding: 10px;
            margin-bottom: 10px;
        }
        .software_slider {
            height: 810px;
        }
        .forma-slider .form-bxslider > li {
            min-height: 810px;
        }
    </style>
</head>

<body>
    <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    <div class="main-holder wrap">
        <header class='main-wrapper header'>
            <div class="container apex">
                <div class="row">
                    <nav class="navbar header-navbar" role="navigation">
                        <div class="navbar-header">
                            <div class="logo navbar-brand">
                                <a href="javascript:void(0);" title="Standard Chartered"></a>
                            </div>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <div class="navbar-right">
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <div class='main-wrapper '>
            <section class="relative software_slider">
                <div class="forma-slider">
                    <div id="form_slider" data-anchor="form_slider">
                        <ul class="form-bxslider list-unstyled">
                            <li>
                                <div class="img-slider  slide-man1 fin_2"></div>
                            </li>
                            <li>
                                <div class="img-slider slide-man2 fin_2"></div>
                            </li>
                        </ul>

                    </div>

                    <div class="clearfix visible-xs visible-md" style="height:0px;"></div>
                    <div class="container relative fin_3" id='elem-portable'>
                        <div class="reg-now">

                                    {% for field in form if field.widget.input_type != 'hidden' %}
                                        {% if field.errors %}
                                        <div class='alert alert-danger'><a class='close' data-dismiss='alert'>×</a>
                                            {%for error in field.errors%}
                                                {{error}}</br>
                                            {%endfor%}
                                        </div>
                                        {%endif%}
                                    {%endfor%}
                                     <form class='reg-now-visible' id='formIndex' action="/" method="post" accept-charset="utf-8" role="form">
                                        {{ form.hidden_tag() }}
                                        <p>Bạn có sử dụng lương chuyển khoản không ?</p>
                                                 <div class="radio-custom radio-danger fl mr-10">
                                              {%if form.luong.data == 'yes'%}
                                            <input type="radio" id="yes" name="luong" value="yes" required oninvalid="setCustomValidity('Xin vui lòng chọn một ô')" onclick="clearValidity()" checked/>
                                            {%else%}
                                            <input type="radio" id="yes" name="luong" value="yes" required oninvalid="setCustomValidity('Xin vui lòng chọn một ô')" onclick="clearValidity()"/>
                                            {%endif%}
                                            <label for="yes">Có</label>
                                        </div>
                                        <div class="radio-custom radio-danger fl">
                                             {%if form.luong.data == 'no'%}
                                            <input type="radio" id="no" name="luong" value="no" required onclick="clearValidity()" checked/>
                                            {%else%}
                                            <input type="radio" id="no" name="luong" value="no" required onclick="clearValidity()"/>
                                            {%endif%}
                                            <label for="no">Không</label>
                                        </div>
                                        <div class="clr"></div>

                                        <div class="relative">
                                            {{slbox_region|safe}}
                                        </div>
                                        <div class='control-group'>
                                            <input type="text" class="datepicker" name="birthday" {%if form.data.birthday%} value="{{form.data.birthday|safe}}" {%endif%} placeholder='Ngày sinh'/>
                                        </div>

                                        <div class="relative">
                                             {{slbox_caoch|safe}}

                                        </div>
                                        <div class='control-group'>
                                            <input type="text" id="phone" name="phone" value={%if form.data.phone%} "{{form.data.phone|safe}}" {%else%} "" {%endif%} placeholder='Số điện thoại' required pattern="^[0-9]{10,12}$" oninvalid="setCustomValidity('Số điện thoại không chính xác')" oninput="setCustomValidity('')"/>
                                        </div>
                                        <div class='control-group'>
                                            <input type="text" name="email" value={%if form.data.email%} "{{form.data.email|safe}}" {%else%} "" {%endif%} class='insert-attr' placeholder='Địa chỉ email' required oninvalid="setCustomValidity('Email không chính xác!')" oninput="setCustomValidity('')"/>
                                        </div>
                                        <div class='control-group'>
                                            <input type="text" name="name" {%if form.data.name%} value="{{form.data.name|safe}}" {%endif%} placeholder='Họ và tên' required oninvalid="setCustomValidity('Tên không chính xác!')" oninput="setCustomValidity('')"/>
                                        </div>

                                        <p>
                                              {%if form.toidongy.data%}
                                            <input type="checkbox" id="toidongy" name="toidongy" required oninvalid="setCustomValidity('Bạn phải đồng ý với điều khoản này')" onchange="setCustomValidity('')" checked/>
                                            {%else%}
                                            <input type="checkbox" id="toidongy" name="toidongy" required oninvalid="setCustomValidity('Bạn phải đồng ý với điều khoản này')" onchange="setCustomValidity('')"/>
                                            {%endif%}
                                            Bằng cách nhấp vào "Đăng Ký Ngay" Quý khách đồng ý với điều khoản của ngân hàng Standard Chartered.</p>
                                        <button type="submit" value="Register Now" class='btn submit sub-form' name="submit">Đăng ký ngay</button>
                                         <div class="text-center">
                                        <h5>Platinum CashBack</h5>
                                        <img src="{{url_for('static', filename='images/scb_platinum_v.png')}}" style="width:150px;">
                                    </form>
                        </div>
                    </div>
                </div>
            </section>
            <div class="subMenu">
                <div class="container make-row " style="text-align:center">
                    <div class="f-menu">
                        <ul>
                            <li><a href="#tinhnang" class="subNavBtn">Tính năng</a>|</li>
                            <li><a href="#tienich" class="subNavBtn">Tiện ích</a>|</li>
                            <li><a href="#thongtin" class="subNavBtn">Thông tin hữu ích</a>|</li>
                            <li><a href="#dieukien" class="subNavBtn">Điều kiện phát hành</a>|</li>
                            <li><a href="#cauhoi" class="subNavBtn">Câu hỏi thường gặp</a>|</li>
                            <li><a href="#dieukien" class="subNavBtn">Điều khoản & điều kiện</a></li>
                            <div class="clr"></div>
                        </ul>
                    </div>
                </div>
            </div>

            <section class="container make-row ">
                <div class="tinhnang">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <div class="img-holder mb-25">
                                    <img alt="" src="{{url_for('static', filename='images/icon1.png')}}">
                                </div>
                                <div class="content">
                                    <h4>Hoàn tiền 25% mọi chuyến Uber</h4>
                                    <p>Thật tuyệt khi có thể tự do di chuyển đến bất cứ nơi đâu khi thanh toán bằng thẻ tín dụng Standard Chartered từ 01/10/2016 đến 30/09/2017.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <div class="img-holder mb-25">
                                    <img alt="" src="{{url_for('static', filename='images/icon2.png')}}">
                                </div>
                                <div class="content">
                                    <h4>Chương trình The Good Life</h4>
                                    <p>Quý khách sẽ được tận hưởng vô vàn ưu đãi về ẩm thực, mua sắm, du lịch, chăm sóc sức khỏe & làm đẹp tại hơn 3.500 điểm giao dịch ở Việt Nam và Châu Á.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <div class="img-holder mb-25">
                                    <img alt="" src="{{url_for('static', filename='images/icon3.png')}}">
                                </div>
                                <div class="content">
                                    <h4>Bảo hiểm mua sắm</h4>
                                    <p>Miễn phí sử dụng dịch vụ phòng chờ cao cấp tại hơn 800 sân bay trên toàn thế giới</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="text-center">
                                <div class="img-holder mb-25">
                                    <img alt="" src="{{url_for('static', filename='images/icon4.png')}}">
                                </div>
                                <div class="content">
                                    <h4>Dịch vụ sân gôn</h4>
                                    <p>Hoàn tiền không giới hạn cho mọi chi tiêu, mọi lúc, mọi nơi với thẻ tín dụng Platinum CashBack hoàn toàn mới</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clr"></div>
                </div>
            </section>
            <section class="container make-row">
                <div class="tienich">
                    <div class="row">
                        <div class="sec-title has-bg">
                            <h3> Tiện ích</h3>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{url_for('static', filename='images/tienich1.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="javascript:void(0);" target="_blank">
                                            <img src="{{url_for('static', filename='images/click.png')}}">
                                            <p>Từ nay đến 16/01/2017, đăng ký mở thẻ tín dụng Standard Chartered CashBack và chi tiêu tối thiểu 3 triệu đồng để nhận một xe đạp thời trang. Đồng thời, nhận thêm một bộ phụ kiện xe đạp miễn phí khi tổng chi tiêu đạt 15 triệu đồng.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="javascript:void(0);"> Thanh toán tối thiểu 3 triệu để nhận xe đạp thời trang</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{url_for('static', filename='images/tienich2.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="javascript:void(0);" target="_blank">
                                            <img src="{{url_for('static', filename='images/click.png')}}">
                                            <p> Thật tuyệt khi có thể tự do di chuyển đến bất cứ nơi đâu chỉ với một cú chạm và tận hưởng ưu đãi tuyệt vời này khi thanh toán bằng thẻ tín dụng Standard Chartered từ 01/10/2016 đến 30/09/2017.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="javascript:void(0);"> Hoàn tiền 25% mọi chuyến Uber</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{url_for('static', filename='images/tienich3.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="javascript:void(0);" target="_blank">
                                            <img src="{{url_for('static', filename='images/click.png')}}">
                                            <p>Hoàn tiền đến 1% cho mọi chi tiêu và không giới hạn số tiền hoàn tối đa</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="javascript:void(0);"> Hoàn tiền không giới hạn</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{url_for('static', filename='images/tienich4.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="javascript:void(0);" target="_blank">
                                            <img src="{{url_for('static', filename='images/click.png')}}">
                                            <p>Miễn phí bảo hiểm mua sắm qua thẻ lên đến 67.500.000 VNĐ</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="javascript:void(0);"> Bảo hiểm mua sắm</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{url_for('static', filename='images/tienich5.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="javascript:void(0);" target="_blank">
                                            <img src="{{url_for('static', filename='images/click.png')}}">
                                            <p>Hãy tận hưởng cuộc sống theo cách riêng của Quý khách với vô vàn ưu đãi về ẩm thực, mua sắm, du lịch, chăm sóc sức khỏe & làm đẹp tại hơn 3.500 điểm giao dịch ở Việt Nam và Châu Á</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="javascript:void(0);"> Chương trình The Godliffe</a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <div class="tienich-info">
                                <img src="{{url_for('static', filename='images/tienich6.jpg')}}" alt="">
                                <div class="overlay">
                                    <div class="box-holder">
                                        <a class="box" href="javascript:void(0);" target="_blank">
                                            <img src="{{url_for('static', filename='images/click.png')}}">
                                            <p>Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng. Sử dụng điểm thưởng để thanh toán cho các chi tiêu được thực hiện qua thẻ tín dụng.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="t-title">
                                <a href="javascript:void(0);"> Đặc quyền sân gôn</a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section class="container make-row">
                <div class="thongtin s3">
                    <div class="row">
                        <div class="sec-title has-bg">
                            <h3> Thông tin hữu ích</h3>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);">
                                <img src="{{url_for('static', filename='images/icon5.png')}}">
                                <div class="info2">Biểu Phí Thẻ Tín Dụng Standard Chartered</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);">
                                <img src="{{url_for('static', filename='images/icon10.png')}}">
                                <div class="info2">Chương Trình Bảo Hiểm Bảo Đảm Mua Sắm</div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);">
                                <img src="{{url_for('static', filename='images/icon8.png')}}">
                                <div class="info2">Chương Trình Bảo Hiểm Du Lịch Toàn Diện</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);">
                                <img src="{{url_for('static', filename='images/icon6.png')}}">
                                <div class="info2">Hướng Dẫn Sử Dụng Thẻ Tín Dụng Dụng Platinum CashBack</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);">
                                <img src="{{url_for('static', filename='images/icon6.png')}}">
                                <div class="info2">Hướng Dẫn Sử Dụng Ứng Dụng The Good Life</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);">
                                <img src="{{url_for('static', filename='images/icon6.png')}}">
                                <div class="info2">Hướng Dẫn Cách Thức Thanh Toán Thẻ Tín Dụng</div>

                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <a href="javascript:void(0);">
                                <img src="{{url_for('static', filename='images/icon6.png')}}">
                                <div class="info2">Hướng Dẫn Quy Đổi Tiền Hoàn Lại</div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section style="background:#21aa47">
                <div class="container make-row">
                    <div class="dieukien s4">
                        <div class="row">
                            <div class="bg-tn">

                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="sec-title">
                                        <h3 style="color:#fff;"> Điều kiện phát hành</h3>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dkt">Độ tuổi</div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="nddk">
                                            Đối với khách hàng nữ: từ 22 – 55 tuổi
                                            <br> Đối với khách hàng nam: từ 22 – 60 tuổi
                                        </div>
                                    </div>

                                    <div class="clr"></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dkt">Những chứng từ cần cung cấp </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="nddk">
                                            Chứng từ công việc và thu nhập : Bản sao hợp đồng lao động
                                            <br>Bản gốc sao kê hoặc phiếu chi lương thể hiện 3 tháng lương gần nhất
                                            <br>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                    <div class="sec-title">
                                        <h3 style="color:#fff;"> &nbsp;</h3>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dkt">Mức lương chuyển khoản tối thiểu từ <span class="hl">10 Triệu VNĐ</span> </div>
                                    </div>
                                    <div class="clr"></div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="dkt">Chứng từ nhân thân và địa chỉ </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="nddk">
                                            <b>Đối với người Việt Nam:</b>
                                            <br> + Bản sao CMND/Hộ chiếu
                                            <br> + Bản sao Sổ Hộ Khẩu
                                            <br> <b>Đối với người nước ngoài:</b>
                                            <br> + Bản sao hộ chiếu
                                            <br> + Bản sao Visa/Thẻ tạm trú/Thẻ thường trú hoặc Giấy phép lao động

                                        </div>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="sec-title">
                                        <h3 style="color:#fff;"> Điều khoản & điều kiện</h3>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="dkt"> Điều khoản & Điều kiện của thẻ tín dụng Standard Chartered</div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="dkt">Điều khoản & Điều kiện để quy đổi tiền hoàn lại </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container make-row">
                <div class="cauhoi s5">
                    <div class="row">
                        <div class="sec-title">
                            <h3> Câu hỏi thường gặp</h3>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel-group" aria-multiselectable="true" role="tablist">
                                <div class="panel">
                                    <div class="panel-heading" role="tab" data-toggle="collapse" href="#Collapse1" aria-expanded="false">
                                        <a class="panel-title">
                                           Thẻ tín dụng Platinum CashBack là loại thẻ thế nào và sự khác biệt với các loại thẻ tín dụng khác ?

                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="Collapse1" role="tabpanel">
                                        <div class="panel-body">
                                            Thẻ tín dụng Platinum CashBack là thẻ hoàn tiền, được thiết kế đặc biệt để giảm chi phí hàng tháng của Quý khách bằng cách hoàn tiền mặt trên các giao dịch chi tiêu, giúp mang đến nhiều giá trị hơn trên mỗi đồng chi tiêu của Quý khách.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" data-toggle="collapse" href="#Collapse2" aria-expanded="false">
                                        <a class="panel-title collapsed">
                                          Tôi sẽ được nhận các lợi ích gì khi sử dụng thẻ tín dụng Platinum CashBack?
                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="Collapse2" role="tabpanel">
                                        <div class="panel-body">
                                            NQuý khách sẽ nhận đươc 1% Tiền Hoàn đối với các giao dịch khi thanh toán bằng ngoại tệ và 0,5% Tiền Hoàn đối với các giao dịch thanh toán bằng Việt Nam Đồng.
                                        </div>
                                    </div>
                                </div>

                                <div class="panel">
                                    <div class="panel-heading" role="tab" data-toggle="collapse" href="#Collapse3" aria-expanded="false">
                                        <a class="panel-title collapsed">
                                          Có giới hạnTiền Hoàn tối đa trên mỗi giao dịch hay không?

                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="Collapse3" role="tabpanel">
                                        <div class="panel-body">
                                            Không có giới hạn về Tiền Hoàn tối đa Quý khách có thể nhận được khi chi tiêu trên thẻ.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab">
                                        <a class="panel-title collapsed" data-toggle="collapse" href="#Collapse4" aria-expanded="false">
                                          Chi tiêu ở danh mục nào để được hoàn tiền?

                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="Collapse4" role="tabpanel">
                                        <div class="panel-body">
                                            Quý khách được hoàn tiền cho tất cả danh mục chi tiêu như nhà hàng, khách sạn, hàng không, dịch vụ sân gôn, các dịch vụ thanh toán và nhiều hơn thế nữa. Vui lòng tham khảo Hướng dẫn hoàn tiền để biết thêm thông tin chi tiết.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading" role="tab" data-toggle="collapse" href="#Collapse5" aria-expanded="false">
                                        <a class="panel-title collapsed">
                                          Trong trường hợp nào tôi sẽ không được nhận Tiền Hoàn?

                                        </a>
                                    </div>
                                    <div class="panel-collapse collapse" id="Collapse5" role="tabpanel">
                                        <div class="panel-body">
                                            Trong trường hợp các giao dịch bị hoàn trả, tranh chấp, gian lận, hoặc không chuẩn chi, Quý khách sẽ không nhận được Tiền Hoàn. Cuối cùng, Quý khách sẽ không được hoàn tiền khi rút tiền mặt, hoặc trên các khoản phí và lãi phát sinh cũng như trên các giao dịch bị tra soát.
                                        </div>

                                    </div>
                                    <div class="panel-collapse collapse" id="Collapse5" role="tabpanel">
                                        <a class="panel-title collapsed">
                                          Khi nào Tiền Hoàn sẽ hết hạn đươc quy đổi?


                                        </a>
                                        <div class="panel-body">
                                            Tiền Hoàn sẽ có giá trị trong vòng 24 tháng kể từ tháng được tích lũy.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class='main-wrapper footer'>
            <div class="container bottom">
                <div class="fl copyright">Copyright (C) 2016 Accesstrad VN & Standard chartered</div>
                <nav>
                    <ul style="margin:0px;">
                        <li>
                            <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo1.png')}}"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo2.png')}}"></a>
                        </li>
                        <li>
                            <a href="javascript:void(0);"><img src="{{url_for('static', filename='images/logo3.png')}}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
        <div id="back-top-wrapper" class="visible-lg">
            <p id="back-top" class='bounceOut'>
                <a href="#top">
                    <span></span>
                </a>
            </p>
        </div>
    </div>
    <div class="mask"></div>
    <script src="{{url_for('static', filename='js/jquery-1.10.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/modernizr.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.bxslider.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.customSelect.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.validate.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.colorbox-min.js')}}"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    <script src="{{url_for('static', filename='js/loader.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.subMenu').smint({
                'scrollSpeed': 1000
            });
        });
        $('.form-bxslider').bxSlider({
            mode: 'fade'
            , auto: true
            , pause: 6000
        });
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd-mm-yyyy'
            });

             $('.datepicker').datepicker({ defaultDate: 15 });

        });
    </script>

    <script src="//cdn.accesstrade.vn/js/tracking.js" ></script>
        <script type="text/javascript">
            AT.track();
            function clearValidity() {
                document.getElementById('yes').setCustomValidity('');
            }

            function onInvalidCustom(idstr) {
                var me = document.getElementById(idstr);
                me.setCustomValidity('Số điện thoại không chính xác');
                //me.setCustomValidity('');
            }

            function getCookie(cname) {
                    var name = cname + "=";
                    var ca = document.cookie.split(';');
                    for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') {
                            c = c.substring(1);
                        }
                        if (c.indexOf(name) == 0) {
                            return c.substring(name.length,c.length);
                        }
                    }
                    return "";
            }
                //alert(getCookie("_aff_network") + "|" + getCookie("_aff_sid"))
                $("#aff_source").val(getCookie("_aff_network"));
                $("#aff_sid").val(getCookie("_aff_sid"));

        </script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</body>
</html>




